@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
  margin: 3rem;
}

/* LAYOUT */
header {
  font-size: 1rem;
  text-align: center;
  position: static;
  width: 100%;
  margin: 2rem;
}

main {
  /* text-align: center; */
  position: static;
  color: #eee;
  /* display: flex; */
  /* align-items: center; */
}

.reels {
  display: flex;
  justify-content: space-between;
}

.reel {
  display: grid;
  height: 25vw;
  width: 25vw;
  max-width: 20rem;
  max-height: 20rem;
  background-image: linear-gradient(to top left, #825236 0%, #f8bb11 100%);
  box-sizing: border-box;
}

.box {
  /* font-size: 10vb; */
  text-align: center;
  font-size: 8cqh;
}

.reel--image {
  height: 25vw;
  width: 25vw;
  max-width: 20rem;
  max-height: 20rem;
  position: static;
  align-items: center;
  /* margin: 4%; */
  box-sizing: border-box;
}

.reel--image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}


#reel--1 {
  /* width: 52rem; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

#reel--2 {
    /* width: 52rem; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}

#reel--3 {
    /* width: 52rem; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}


/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: static;
  width: 100%;
}


p {
  text-align: center;

  /* position: center; */
  /* width: 100%; */
}

  
.spin {
  border-style: inset;
  border-width: 3px;
  border-color: red;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 6rem;
}

.hidden {
  display: none;
}