@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Bungee Spice', sans-serif;
  max-width: 400px;
  color: #eee;
  background-color: #222;
  margin: auto;
  /* align-items: center; */
}

/* LAYOUT */
main {
  position: static;
  color: #eee;
  margin-left: 3rem;
  margin-right: 3rem;
}

.reels {
  display: flex;
  justify-content: space-between;
}

.reel {
  display: grid;
  height: 25vw;
  width: 25vw;
  max-height: 100px;
  max-width: 100px;
  /* max-width: 20rem; */
  /* max-height: 20rem; */
  background-image: linear-gradient(to top left, #825236 0%, #f8bb11 100%);
  
  box-sizing: border-box;
  border-style: solid;
  border-width: .5rem;
  border-color: goldenrod;
}

.box {
  /* font-size: 10vb; */
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 8cqh;
}

.reel--image {
  height: 25vw;
  width: 25vw;
  max-height: 100px;
  max-width: 100px;
  border-style: solid;
  border-width: .5rem;
  border-color: goldenrod;
  border-radius: 10px;
  position: static;
  align-items: center;
  box-sizing: border-box;
}

.reel--image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

#reel--1 {
  align-items: center;
}

#reel--2 {
  align-items: center;
}

#reel--3 {
  align-items: center;
}

.hold--buttons--container {
  display: flex;
  justify-content: space-between;
}

.hold {
  width: 25vw;
  height: 3rem;
  max-width: 100px;
  position: static;
  align-items: center;

  box-sizing: border-box;
  border-style: inset;
  border-width: 3px;
  border-color: blue;
  background-color: black;
  color: #222;
  font-size: 1.1rem;
  font-family: inherit;
  cursor: pointer;
  margin-top: 1.5rem;

}


h1 {
  font-size: 6rem;
  text-align: center;
  position: static;
  width: 100%;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  padding: 3rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

p {
  text-align: center;
}

.spin--container {
  text-align: center;
}

.spin {
  border-style: inset;
  border-width: 3px;
  border-color: red;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 3rem;
}

.middle--body {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.game--stats--container {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 50%;
  flex-grow: 1;
  border-style: double;
  border-color: orangered;
  margin-left: .95rem;
  /* margin-top: 1rem; */
}

.stats {
  display: grid;
  height: auto;
  /* width: 25vw; */
  /* max-width: 20rem; */
  font-size: 1.5rem;
  align-self: flex-end;
  margin-top: 0.5rem;
}

.stat--num {
  font-family: 'Bungee Inline', sans-serif;
  padding: 0;
  font-size: 2rem;
 }

.scoreboard--container {
  width: 50%;
  text-align: left;
  border-style: double;
  border-color: orangered;
  font-size: 2rem;
  margin-right: .95rem;
  /* flex-grow: 1; */
  /* margin-top: 2rem; */
}

.scoreboard--item {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.scoreboard--images {
  display: flex;
  width: 50%;
  /* height: 2.5rem; */
  font-size: 2rem;
  /* margin-top: 1rem;
  margin-left: 1rem; */
  box-sizing: border-box;
}

.scoreboard--images img {
  height: 2.5rem;
  object-fit: cover;
}

.scoreboard--prizes {
  width: 50%;
  font-size: 2rem;
  /* margin-top: 1rem;
  margin-left: 1rem; */
}

/* .scoreboard--prizes img {
  height: 100%;
  width: 100%;
  object-fit: fill;
} */

.reset--container {
  text-align: center;
}

.reset--btn {
  border-style: inset;
  border-width: 3px;
  border-color: red;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 1rem;
}

.hidden {
  display: none;
}
